# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DATASETS (pesados)
# =========================
data/

# =========================
# MODELOS (se regeneran)
# =========================
models/
*.pkl
*.joblib

# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
env/
ENV/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# CONFIG SENSIBLE
# =========================
.env

# =========================
# BUILD / CACHE
# =========================
.cache/
*.egg-info/
dist/
build/
